extends layout

append head
  if (locals.redirect)
    meta(http-equiv="refresh" content=redirect)

append content
  .container
    .row
      .col.s12
        .card-panel.red
          h1= error.message
          pre #{error.stack}
