extends layout

block content
  - var userStatus = user
  h1 Your username and password combination was wrong, or you are currently not logged in.
  br
  a(href="/register") Register
  br
  a(href="/login") Login
