extends layout

append content
  .container
    .row
      .col.s12
        .card-panel.red
          span.white-text Wrong user/password combo, or you're currently not logged in.
      form.col.s12.m4(role='form', action='/login', method='post')
        .form-group
          input.form-control(type='text', name='username', placeholder='Enter Username')
        .form-group
          input.form-control(type='password', name='password', placeholder='Password')
        button.btn(type='submit') Submit
        a.btn(href='/') Cancel
